@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ea2a33;
  --secondary-color: #fef2f2;
  --background-color: #f6f6f6;
  --text-primary: #1a202c;
  --text-secondary: #4b5563;
  --accent-color: #fca5a5;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
  margin: 0;
  min-height: 100vh;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  filter: invert(1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.menu a {
  @apply text-gray-500 font-medium px-2 border-b-2 pb-2 border-transparent;
}

.menu a.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme inline {
  --primary-color: var(--primary-color);
  --secondary-color: var(--secondary-color);
  --background-color: var(--background-color);
  --text-primary: var(--text-primary);
  --text-secondary: var(--text-secondary);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent-color);
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  @apply flex gap-2 items-center justify-between;
}

.btn {
  @apply text-xs px-2 py-1 rounded-md w-fit border border-transparent;
}

.btn-primary {
  @apply bg-[var(--primary-color)] text-white border-transparent;
}

button.btn-primary:hover {
  @apply bg-transparent border-[var(--primary-color)] opacity-90 text-[var(--primary-color)];
}

.btn-blue {
  @apply inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-blue-100 text-blue-800;
}

button.btn-blue:hover {
  @apply bg-blue-800 text-white border-transparent;
}

.btn-red {
  @apply inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-red-100 text-red-800;
}

button.btn-red:hover {
  @apply bg-red-800 text-white border-transparent;
}

.btn-green {
  @apply inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800;
}

button.btn-green:hover {
  @apply bg-green-800 text-white border-transparent;
}

.btn-yellow {
  @apply inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800;
}

button.btn-yellow:hover {
  @apply bg-yellow-800 text-white border-transparent;
}

.btn-purple {
  @apply inline-flex items-center px-3 py-1 rounded-full text-xs font-medium bg-purple-100 text-purple-800;
}

button.btn-purple:hover {
  @apply bg-purple-800 text-white border-transparent;
}

.modal-content-container {
}

@media print {
  @page {
    margin: 0;
    position: relative;
    size: auto;
  }
  body,
  html {
    background: white;
    height: auto;
    min-height: unset;
  }
  body * {
    visibility: hidden;
  }
  .printable-content,
  .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    top: 220px;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    scale: 1.5;
  }
  .printable-content h2 {
    color: black;
    text-align: center;
    font-size: 1.3rem;
  }
  .no-print,
  .printable-content a,
  .printable-content button {
    display: none !important;
  }
}

.modal-content-container {
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.modal-content-container[data-state="open"] {
  animation: animate-in 200ms ease-in-out forwards;
  opacity: 1;
  transform: scale(1);
}

.modal-content-container[data-state="closed"] {
  animation: animate-out 200ms ease-in-out forwards;
  opacity: 0;
  transform: scale(0.90);
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: scale(0.90);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animate-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.90);
  }
}